body{
	background-color: #f7f7f8!important;;
}
div.col-xs-12 {
	margin-top: 9em;
}
div.user-info-container{
	background-color: white;
	border-radius: 5px;
	padding: 5em;
	
}
div.change-nickname-input{
	display: flex;
	justify-content: center
}
div.change-nickname-input div.change-nickname-btn{
	margin-left: 1em;
}
div.well{
	margin-top: 1em;
}
span.title{
	font-size: 1.3em;
	font-weight: bold;
	margin-right: 5em;
}
button.change-nickname-btn{
	width: 6em;
}
li p{
	margin: 0!important;
}
li.change-nickname-container, li.change-email-container, li.change-password-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
}

li:last-child{
	margin-bottom: 0;
}
div.col-xs-10{
	background-color: #f7f7f8!important;
}
