{% extends 'base.html' %}

{% load static %}

{% block header_extends %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/contribution.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/notify.css' %}" />
	<!-- 富文本编辑ckeditor -->
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
	<!-- js -->
{% endblock %}

{% block title %}
	编辑 | Edit
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<div class="contribution-container">
					<span>{{ blog_types }}</span>
					{% if user.is_authenticated %}
						<form action="" method="POST" id="contribution-form">
							<div class="contribution-ckeditor">
								{% csrf_token %}
								{% for field in edit_form %}
									{{ field }}
								{% endfor %}
							</div>
							<div class="contribution-btn">
								<p class="tip">
									<span>Long may the sun shine !</span>
								</p>
								<button type="submit" class="btn btn-primary">
									编辑
									<span>
										<svg t="1652616570130" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1931" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200"><defs></defs><path d="M499.2 281.6l243.2 243.2L413.866667 853.333333H170.666667v-243.2l328.533333-328.533333z m0 123.733333L256 648.533333V768h119.466667l243.2-243.2-119.466667-119.466667zM614.4 170.666667L853.333333 413.866667l-72.533333 72.533333-243.2-243.2L614.4 170.666667z" p-id="1932"></path></svg>
									</span>
								</button>
							</div>
						</form>
					{% else %}
						<script type="text/javascript">
							window.location.href = '/'
						</script>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}

{% block script_extend %}
	<script type="text/javascript">
		$('#id_blog_type option').text('{{blog.blog_type}}').prop("selected", true);
		$('#id_text').text('{{blog.content|safe}}')
		$('#id_title').val('{{blog.title}}')
		
		$('#id_blog_type').wrap('<div class="id_blog_type_containter ck-containter"/>');
		$('.id_blog_type_containter').prepend($('<span class="blog-type-title title"/>'));
		$('#id_blog_type').prepend($('<option id="none"/>'));
		$('#none').text('----')
		$('.blog-type-title').text('类型')
		
		$('#id_title').wrap('<div class="id_title_containter ck-containter"/>');
		$('.id_title_containter').prepend($('<span class="blog-title title"/>'));
		$('.blog-title').text('标题')
		
		$('.django-ckeditor-widget').wrap('<div class="id_text_containter ck-containter"/>');
		$('.id_text_containter').prepend($('<span class="text-title title"/>'));
		$('.text-title').text('内容')
		
		$('.ck-containter').wrap('<div class="hr"/>');
		$('.hr').append($('<hr>'));
	</script>
{% endblock %}
