ul.blog-types{
	list-style-type: none;
}

body{
	background-color: #f7f7f8!important;
}
div.blog:not(:last-child){

}
div.blog{
	background-color: #f7f7f8;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 5px;
}
div.blog p{
	text-align: start!important;
}
div.blog p img{
	width: 100%;
}
div.blog h3{
   margin-top: 0em!important;
}
div.blog p.blog-info{
	margin-bottom: 1em;
	display: flex;
	align-items: center;
}
div.blog p.blog-info span{
	margin-right: 0.5em;
}
div.blog p.blog-info span:last-child{
	padding-top: 0.1em;
}
div.blog p.blog-info a{
	margin-right: 0.5em;
}

div.blog-userinfo span{
	margin-right: 1em;
}
nav.blog-paginator{
	text-align: center;
}
a.blog-check-all{
	float: right;
	color: #337ab7;
}
div.head{
	padding: 1em;
}
div.head h3{
	font-weight: bold;
	font-size: 2em;
}
hr.unline{
	border: 0px;
}
hr.unmargin{
	margin: 0;
}
div.panel-body{
	
}
div.panel{
	padding: 2em;
	box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
	border: 0px;
}